<div class="mt-10 flex flex-col gap-y-1">
    <div class="flex gap-x-3 flex-col">
        <h1 class="text-xl font-medium">More</h1>
        
        <div class="flex flex-col gap-y-3 mt-5">
            <a href="https://git.new/akin" class="flex items-center gap-x-3">
                <i class="fa-brands fa-github"></i>
                Bugs
            </a>
            <a href="https://x.com/xing0x" class="flex items-center gap-x-3">
                <i class="fa-brands fa-twitter"></i>
                Rants & Random
            </a>
        </div>
    </div>
    </div>
