<head>
    <title>Timely | Dead-simple stopwatch for MacOS</title>
    <meta name="description" content="Dead-simple stopwatch for MacOS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="/timely/icon.png">
    <style>
    @import url(https://fonts.googleapis.com/css?family=Geist:100,200,300,regular,500,600,700,800,900);

        @font-face {
            font-family: 'Gelica';
            src: url('/font/gelica/fonnts.com-Gelica-Regular.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Gelica';
            src: url('/font/gelica/fonnts.com-Gelica-Bold.otf') format('opentype');
            font-weight: bold;
            font-style: normal;
        }
        @font-face {
            font-family: 'Gelica';
            src: url('/font/gelica/fonnts.com-Gelica-Light.otf') format('opentype');
            font-weight: 300;
            font-style: normal;
        }
        body {
            font-family: 'Geist', sans-serif;
        }

        .font-gelica {
            font-family: 'Gelica', sans-serif;
        }

    </style>
</head>

<body>
<div class="flex flex-col items-center mt-5 p-5">
  <img src="/timely/icon.png" alt="Timely" class="w-20">

  <h1 class="text-5xl lg:text-7xl font-bold text-center mt-24 text-[#2b2b2d] font-gelica">Dead-simple stopwatch <br/> for MacOS</h1>

   <p class="text-center mt-7 text-lg lg:text-xl text-[#b2a2d]">
    A lightweight, hassle-free, and <a href="https://github.com/akinloluwami/timely" target="_blank" class="font-gelica text-gray-500 font-semibold underline hover:decoration-[#FF5A7A] transition-colors duration-300">open-source</a> stopwatch app for macOS.
    <br> One-click to start, once-click to stop and double-click to reset.
  </p>

  <a href="https://github.com/akinkunmi/timely" class="bg-[#FF5A7A] hover:bg-[#f75172] border border-[#f64f70] transition-all duration-300 text-white px-10 py-3 rounded-2xl font-medium text-lg mt-10 flex items-center gap-2">
    <i class="fa-brands fa-apple text-xl"></i>
    Download</a>

</div>
</body>